@model RacingProjectClient.Client.ApiModels.RaceResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RaceResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <input asp-for="DriverId" class="form-control" />
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceId" class="control-label"></label>
                <input asp-for="RaceId" class="form-control" />
                <span asp-validation-for="RaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingPosition" class="control-label"></label>
                <input asp-for="StartingPosition" class="form-control" />
                <span asp-validation-for="StartingPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalPosition" class="control-label"></label>
                <input asp-for="FinalPosition" class="form-control" />
                <span asp-validation-for="FinalPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoredPoints" class="control-label"></label>
                <input asp-for="ScoredPoints" class="form-control" />
                <span asp-validation-for="ScoredPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

