<h3>Charts you can see:</h3>

<ul>
    <li>
        <a asp-action="Teams">Number of drivers in F1 teams</a>
    </li>
    <li>
        <a asp-action="RacingSeries">Number of teams in racing series</a>
    </li>
</ul>
