<h3>Charts you can see:</h3>

<ol>
    <li>
        <a asp-action="Drivers">Number of driver's first places in first 10 races</a>
    </li>
    <li>
        <a asp-action="Teams">Number of drivers in F1 teams</a>
    </li>
    <li>
        <a asp-action="RacingSeries">Number of teams in racing series</a>
    </li>
    <li>
        <a asp-action="RaceResults">Points Scored in Austrian GP</a>
    </li>
    <li>
        <a asp-action="Races">Number of laps in races</a>
    </li>
</ol>
